<!-- Users Dashboard -->
<div class="userIndex">
  <!-- White box opacity -->
  <div class="main">
    <div class="row section" style="padding: 20px !important;">
      <div class="container">
        <h1 class="header center black-text text-lighten-2 title">Secrets</h1>
        <p> <a href="/users/<%= current_user.id %>">Back to User Dashboard</a></p>

          <div class="section">
              <% @secrets.each do |item| %>

              <div class="row">
              <div class="col s12 m4">
              <p class="sec-page-font-color">  <%= item.secret %></p>
              <% if current_user.id == item.user_id %>

              <form  action="/secrets/<%= item.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" class="ghost-button3" name="delete" value="delete">
              </form>
              <% end %>
              </div>

              <div class="row">
              <div class="col s12 m4">
              <% if @user.secrets_liked.exists?(item.id) %>
              <p class="sec-page-font-color"><%= item.likes.count %> Likes</p>
              <form  action="/likes/<%= item.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" class="ghost-button3" name="like" value="unLIKE">
              </form>

              <% else %>
              <p class="sec-page-font-color"><%= item.likes.count %> Likes</p>
              <form action="/likes/<%= item.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="submit" class="ghost-button3" name="like" value="LIKE">
              </form>
              <% end %>
              </div>
              </div>

              <hr style="width: 100%;">
            <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
